**TASK 1**

1) **Install Jupyter notebook and run the first program and share the screenshot of the output**

![Jupiter notebook]

(https://drive.google.com/open?id=1uOZa4jNWaHkSy-I_ypCzTnpRjrLVJPCE)

2)  **Write a program which will find all such numbers which are divisible by 7 but are not a
	multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be
	printed in a comma-separated sequence on a single line.**

In [0]:
# Set Start Limit and End Limit Ranges
start_limit = 2000
end_limit = 3200

# Set Range , assuming End Limit inclusive
full_range = range(start_limit,end_limit + 1)

# init List
final_output_list = []
# Loop over range to select numbers which are divisible by 7 but are not a multiple of 5
# Append to list

for i in full_range:
  if(i%7 == 0 and i%5 != 0):
    final_output_list.append(i)
    
# Convert final list into comma separated value string for display
csv = ','.join(map(str, final_output_list))
print (csv)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3) **Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.**

In [0]:
import re

# Get Name Function - Generic
def get_String_Input(prompt_message):
    input_string = input(prompt_message)
    return input_string


# Validate to allow only string and spaces. No other characters allowed in First,last Names
def validate_string(input_string):
    return bool(re.search("^[a-zA-Z ]+$", input_string))


# Function to loop input until correct string provided
def loop_until_input(prompt_message):
  while True:
    userInput = get_String_Input(prompt_message).strip()
    
    if validate_string(userInput):
        return userInput
        break
    else:
        continue

# Get Name details into variables
first_name = loop_until_input("Enter First Name ")
last_name = loop_until_input("Enter Last Name ")

# print lastname firstname 
print ("print lastname firstname : ", last_name , first_name)

# print lastname firstname - strings reversed
print ("print lastname firstname - strings reversed : ", last_name[::-1] , first_name[::-1])

Enter First Name nAVEEN RAJ
Enter Last Name CHANDRAN
print lastname firstname :  CHANDRAN nAVEEN RAJ
print lastname firstname - strings reversed :  NARDNAHC JAR NEEVAn

4) **Write a Python program to find the volume of a sphere with diameter 12 cm.
	Formula: V=4/3 * p * r^3**

In [0]:
import math

# Function to calculate volume of sphere - given input diameter
# round off to 3 decimal places
def calc_sphere_volume(diameter):
    volume = round(4 / 3 * math.pi * (diameter/2) ** 3, 3 )
    return volume

# init diameter
diameter = 12

# print final volume of sphere for given diameter
print ("Volume of sphere for diameter ", diameter , "cms : ", calc_sphere_volume(diameter), " cubic centimetre")

Volume of sphere for diameter  12 cms :  904.779  cubic centimetre

**TASK 2**

1) **Write a program which accepts a sequence of comma-separated numbers from console
	and generate a list.**

In [0]:
import csv 

	# Get user input into string
 	# Use csv library to parse csv file. Error if not in same format

csv_numbers_string = input("Enter sequence of numbers in csv format : ").strip()

csv_numbers_obj = csv.reader([csv_numbers_string])
  # Convert to a list[lists] using csvreader functions
  
csv_numbers_list = list(csv_numbers_obj)

	# Validate if list is populated correct
  
print ("Length of list : " , len(csv_numbers_list[0]))
print ("List contents entered : ", csv_numbers_list[0])

Enter sequence of numbers in csv format : a,23,45,b
Length of list :  4
List contents entered :  ['a', '23', '45', 'b']

2) **Create the below pattern using nested for loop in Python.
	*
	* *
	* * *
	* * * *
	* * * * *
	* * * *
	* * *
	* *
	***

In [0]:
# Set variables. Since using range function in for loop
# Upper limit is non-inclusive
# To calculate MAX = max number of '*' in middle row + 2
MIN=2
MAX=12
AVG=int(MAX/2)

for number_of_iter in range(MIN, MAX):

 # Init row to be printed
 row_to_print = ""

 if number_of_iter <= AVG:
  # For iterations 2,3,4,5 - Enter here
  upper_limit = number_of_iter
 else: 
  # For iterations 6,7,8,9,10,11 - Enter here
  upper_limit = MAX - number_of_iter
 
 # use range function: upper_limit is always non-inclusive
 # Corner cases will get eliminated
 for loopvar in range(1,upper_limit):
   row_to_print = row_to_print + " " + "*"

 # Remove preceeding space and nulls during print to console
 if len(row_to_print.strip()) > 0:
  print (row_to_print.strip())

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3) **Write a Python program to reverse a word after accepting the input from the user**.

	Sample Output:
	Input word: AcadGild
	Output: dilGdacA**

In [0]:
input_word = input("Enter word to be reversed : ").strip()
print ("Reversed word : " + input_word[::-1])

Enter word to be reversed : naveen
Reversed word : neevan

4)  **Write a Python Program to print the given string in the format specified in the sample**

	output.
  
	WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
	SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
	its citizens
  
	Sample Output:
  
	WE, THE PEOPLE OF INDIA,
	      having solemnly resolved to constitute India into a SOVEREIGN, !
	            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
	             and to secure to all its citizens:**

In [0]:
input_sentence = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
print ("input_sentence : " + input_sentence)

print ("\n\n")

formatted_sentence = input_sentence.replace("INDIA, ", "INDIA,\n").replace("SOVEREIGN, ", "SOVEREIGN, !\n").replace("REPUBLIC ", "REPUBLIC \n") + (":")
print ("Formatted sentence : \n" + formatted_sentence)

input_sentence : WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens



Formatted sentence :
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens: